@use '../../../styles/variables' as v;

%base-container {
	width: 100%;
	margin: 0 auto;
	padding: v.$padding-l;
}

.container {
	@extend %base-container;

	&_fixed {
		@extend %base-container;
		width: 600px;
	}
}
