@use '../../../styles/variables' as v;

.loader {
	position: relative;
	min-width: 10px;
	max-width: 50px;
	min-height: 10px;
	max-height: 50px;
	aspect-ratio: 1/1;
}

.loader::before,
.loader::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.loader::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-color: v.$text;
}

.loader::after {
	top: -1px;
	left: -1px;
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	border: 4px solid transparent;
	border-top-color: v.$accent;
	animation: spin 3s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
