@use '../../../styles/variables' as v;

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 10px v.$padding-sm;
	color: #ffffff;
	font-weight: 500;
	background: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	appearance: none;

	&_error {
		background-color: v.$error;
	}

	&_neutral {
		color: v.$text-secondary;
		background-color: #e2e8f0;
	}

	&:hover {
		filter: brightness(0.7);
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}
}

.button__icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button_primary {
	background-color: v.$info;
}
