@use '../../../styles/variables' as v;

h1,
h2,
h3 {
	font-weight: 700;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
}

caption {
	font-size: 0.8rem;
}

blockquote {
	font-size: 1rem;
	font-style: italic;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}
