@use '../../../styles/variables' as v;

* {
	margin: 0;
	padding: 0;
}

.h1,
.h2,
.h3 {
	font-weight: 600;
}

.h1 {
	font-size: 2rem;
}

.h2 {
	font-size: 1.5rem;
}

.h3 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.subtitle {
	color: v.$text-secondary;
	font-weight: 500;
	font-size: 0.8rem;
}
