.card {
	position: relative;
	width: 100%;
	min-width: 300px;
	max-width: 450px;
	background-color: #ffffff;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 10%),
		0 2px 4px -1px rgb(0 0 0 / 6%);
	transition: box-shadow 0.2s ease;

	&:hover {
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 10%),
			0 4px 6px -2px rgb(0 0 0 / 5%);
	}
}
