@use './styles/_variables.scss' as v;
@import './styles/normalize.css';
@import './assets/fonts/fonts.css';

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: v.$text;
	font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
	background: linear-gradient(135deg, #f5f7fa 0%, #e4edf9 100%);
	background-color: v.$background-light;
	transition: margin 0.2s ease;
}

#root {
	width: 100%;
}

@media (width >= 760px) {
	body {
		margin-left: v.$sidebar-width-collapsed;
	}
}

@media (width <= 760px) {
	body {
		margin-top: v.$top-header-height;
	}
}
