@use './styles/_variables.scss' as v;
@import './styles/normalize.css';
@import './assets/fonts/fonts.css';

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: v.$text;
	font-family: 'Segoe UI', "Tahoma", "Geneva", "Verdana", sans-serif;
	background: linear-gradient(135deg, #f5f7fa 0%, #e4edf9 100%);
	background-color: v.$background-light;
}
