@use '../../../styles/variables' as v;

.overlay {
	position: fixed;
	inset: 0;
	z-index: 999;
	background: rgb(0 0 0 / 50%);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 600px;
	max-height: 90vh;
	overflow: hidden;
	background: v.$white;
	border-radius: 8px;
	box-shadow: 0 10px 25px rgb(0 0 0 / 20%);
	transform: translate(-50%, -50%);
}

.header {
	display: flex;
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	padding: v.$padding-md v.$padding-md v.$padding-sm;
	border-bottom: 1px solid v.$separator;
}

.title {
	margin: 0;
	color: v.$text;
	font-weight: 600;
	font-size: 20px;
}

.close-btn {
	padding: 0;
	color: inherit;
	background-color: transparent;
}

.close-icon {
	width: 30px;
	height: 30px;
}

.body {
	flex: 1;
	min-height: 0;
	padding: v.$padding-md;
	overflow-y: auto;
}

@media (width <= 768px) {
	.modal {
		width: 95%;
		max-height: 95vh;
	}
}
